Debug/
wau.vcxproj
wau.vcxproj.filters
wau.vcxproj.user
blanketir.vcxproj
blanketir.vcxproj.filters
blanketir.vcxproj.user


matrice.vcxproj
matrice.vcxproj.filters
matrice.vcxproj.user
nizovi.c
nizovi.pdf
README.md
blanketi.c
funkcije.vcxproj
funkcije.vcxproj.filters
funkcije.vcxproj.user
fajlstringovi.vcxproj
        fajlstringovi.vcxproj.filters
        fajlstringovi.vcxproj.user
